<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphs page</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>
<a href="/">Back</a>

<img align="left" alt="{{humidity_name}}" src="{{humidity_picture}}">
<img align="right" alt="{{temperature_name}}" src="{{temperature_picture}}">
<img align="left" alt="{{wind_speed_name}}" src="{{wind_speed_picture}}">

</body>
</html>