<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greenhouse</title>
</head>
<body>
<h1>Greenhouse</h1>

<h2>Sensors</h2>
<p>Humidity: {{humidity_value}}</p>
<p>Temperature: {{temperature_value}}</p>
<p>Wind speed: {{wind_speed_value}}</p>

<h2>Links</h2>
<p>How was this project done: <a href="/blog">Blog</a></p>
<p>Every graph: <a href="/sensorGraphs">Graphs page</a></p>

<h2>Contact</h2>
<p>This greenhouse is created by Luca van Elsas.<br>
    Email: 582178@student.inholland.nl<br>
    Personal email: Lucavanelsas@gmail.com<br>
    Phone number: 06-81923722</p>
<p></p>
</body>
</html>